click>=8.1.8
crewai==0.130.0
crewai-tools==0.47.1
fastapi>=0.110

google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos

Jinja2
jsonschema
langchain-core
langsmith

numpy
oauthlib

opentelemetry-api>=1.30.0
opentelemetry-sdk>=1.30.0
opentelemetry-exporter-otlp-proto-common>=1.30.0
opentelemetry-exporter-otlp-proto-grpc>=1.30.0
opentelemetry-proto>=1.30.0
opentelemetry-instrumentation>=0.50b0
opentelemetry-instrumentation-asgi>=0.50b0
opentelemetry-instrumentation-fastapi>=0.50b0
opentelemetry-semantic-conventions>=0.50b0
opentelemetry-util-http>=0.50b0

pandas
pillow
pydantic>=2.4.2